  {% extends "blog/basic.html" %}
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  {% block body %}

    <div class="container mt-4">
      <div class="row mb-2">
      {% for item in myposts %}
      <!-- <div class="col-md-2">{{ item.title }} </div> -->
      <div class="col-md-5">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{ item.title }}</h3>
            <div class="mb-1 text-muted">{{ item.pub_date }}</div>
            <strong class="d-inline-block mb-2 text-primary">{{ item.head0 }}</strong>           
            <strong class="d-inline-block mb-2 text-primary">{{ item.head1 }}</strong>    
            <strong class="d-inline-block mb-2 text-primary">{{ item.head2 }}</strong>  
            <p>{{item.chead0|slice:"0:60"}}............</p>
            <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250" 
             aria-label="Placeholder: Thumbnail"/>
          </div>
        </div>
      </div>
      
    {% if forloop.counter|divisibleby:2 %}
    
      </div>
      <div class="row my-2">
        {% endif %}
      {% endfor %}
    </div>
    <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/" data-width="500" data-numposts="5"></div>
    </div>
  {% endblock %}
    
